@import '/src/assets/style/vars.scss';

.list {
  width: 100%;
  position: absolute;
  top: calc(100% + 10px);
  border-radius: 5px;
  color: black;
  border: 1px solid $shadow-gray;
  box-shadow: $shadow;
  transition: opacity 0.25s ease-in;
  opacity: 1;

  &:empty {
    opacity: 0;
    display: none;
  }

  & > li {
    overflow: hidden;
    padding: 0.2em 0.3em;
    transition: padding 0.25s ease-in;

    &:hover {
      background-color: $shadow-gray;
    }
  }
}
