@import '/src/assets/style/vars.scss';

.list {
  width: 100%;
  position: absolute;
  top: calc(100% + 10px);
  border-radius: 5px;
  border: 1px solid $shadow-gray;
  box-shadow: $shadow;
  color: black;

  & > li {
    padding: 0.2em 0.3em;

    &:hover {
      background-color: $shadow-gray;
    }
  }
}
