@import '/src/assets/style/vars.scss';

.card {
  width: 360px;
  flex: 0 0 auto;
  border-color: $shadow-gray;
  box-shadow: $shadow;
  padding: 1em;
  border-radius: 10px;
  position: relative;

  &.cold {
    background-color: $cold-background;
  }

  &.warm {
    background-color: $warm-background;
  }

  .remove {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    offset: none;
    top: 0.2em;
    right: 0.2em;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.2;
    }
  }

  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .weather {
    display: flex;
    justify-content: space-between;
  }
}
