.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40%;
    margin-top: -1em;;


  .description {
    font-size: 0.7em;
    opacity: 0.5;
    text-align: center;
    width: 50%;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
